

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.masterhead {
	text-align: center;
}

.masterhead h1 {
	font-size: 50px;
}

.masterhead p {
	color: #AAA;
}

.form-container {
	text-align: center;
	margin: 25px 0;
}

div.inline {display: inline-block;}

.control-group.inline {
	margin: 0 10px;
}

#result-container {
	text-align: center;
	margin-bottom: 30px;
}

.result-title {
	font-size: 24px;
	margin-bottom: 15px;
}

#result {
	font-size: 34px;
	font-weight: bold;
}

.result-info-more {
	margin-top: 10px;
}

#result-without-taxes,
#result-taxes { font-weight: bold;}

.result-info-text {
	font-size: 14px;
	color: #AAA;
	margin-top: 5px;
}

.footer-left {float: left;}
.footer-right {float: right;}

.share-text {
	display: inline-block;
	position: relative;
	top: -3px;
	font-size: 18px;
	margin-right: 10px;
}

.fb-like {
	display: inline-block;
}










