

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.masterhead {
	text-align: center;
}

.masterhead h1 {
	font-size: 50px;
}

.masterhead p {
	color: #AAA;
}

.form-container {
	text-align: center;
	margin: 25px 0;
}

div.inline {display: inline-block;}

.control-group.inline {
	margin: 0 10px;
}

#result-container {
	width: 500px;
	text-align: center;
	margin: 10px auto;
}

.result-title {
	font-size: 24px;
	margin-bottom: 15px;
}

#result {
	font-size: 34px;
}

.result-info {
	font-size: 14px;
	color: #AAA;
	margin-top: 5px;
}














